.skills {
  display: flex;
  flex-wrap: wrap;
  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: $type-size-body;
    background: rgba($colorTextMuted, 0.16);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: $type-color-strong;
    letter-spacing: $type-track-ui;
    text-transform: $type-case-ui;
  }
}
